body {
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 5;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(50px);
    top: 0;
}

body {
    padding-top: 116px;
}

.contact_section_block, .main-container {
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

.contact_right, .contact_left {
    float: left;
    width: 50%;
}

span.contact_title {
    font-size: 28px;
    font-weight: 400;
    display: block;
}

span.contact_emails {
    display: block;
    color: #707070;
    font-size: 14px;
    line-height: 20px;
}


pan.contact_title {
    font-size: 28px;
    font-weight: 400;
    display: block;
    padding-bottom: 12px;
    padding-bottom: 12px;
}

.contact_form_wrapper {
    margin-top: 48px;
}

table.contact_table {
    table-layout: fixed;
    display: table;
    width: 100%;
}

select.contact_subject {
    width: 100%;
    height: 36px;
    padding-left: 8px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #cfcfcf;
    outline: none;
}

input.name, input.email, textarea.contact_message {
    width: 100%;
    height: 36px;
    padding-left: 8px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    outline: none;
}

textarea.contact_message {
    height: 140px;
}

table.contact_table td {
    padding-bottom: 10px;
    padding-left: 12px;
}
span.contact_emails a {
    text-decoration-line: none;
    text-decoration: none;
    color: unset;
}
.contact_section_block {
    padding-bottom: 360px;
}

.terms.contact_left {
    width: 30%;
}
a.terms_action_icon {
    width: 32px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 30px;
}

a.terms_action_icon.download {
       background-image: url(/Content/img/download@2x.png);
       margin-right: 20px;
}

a.terms_action_icon.print {
    background-image: url(/Content/img/print@2x.png);
}
.terms.contact_right {
    width: 70%;
}

.WordSection1 {
    padding: 20px;
    overflow: auto;
    max-height: 75vh;
}

.footer.terms {
    margin-top: 0px;
}

.contact_section_block.terms {
    padding-bottom: 80px;
}

span.terms_bullet {
    display: block;
    line-height: 42px;
    font-size: 16px;
    color: #717171;
}

span.contact_title.terms {
    margin-bottom: 12px;
}

span.terms_bullet {
    display: block;
    line-height: 48px;
    font-size: 17px;
    color: #717171;
    cursor: pointer;
}


.sign_up a.modal_signup {
    color: #355AA0;
}

a.modal_signup {
    cursor: pointer;
}

.sign_up button.modal_signin {
    border-color: #D98601;
    color: #D98601;
}

.belirsiz_bosluk {
    display: none;
}

ol > li {
    font-weight: 800 !important;
}

.main_madde {
    font-size: 20px !important;
}

div#holder_terms * {
    line-height: 26px;
}

ol > li {
    line-height: 32px !important;
}

span.link {
    cursor: pointer;
    color: blue !important;
    text-decoration: underline !important;
}

div#holder_terms * {
    text-align: left !important;
}
